*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    font-size: 2rem;
    padding: 2rem;
    background-color: #333;
    color: white;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}


h1{
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 10px black;
}

.background,
.forground{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background{
    transform: translateZ(-10px) scale(2);
}

.forground{
    transform: translateZ(-5px) scale(1.5);
}